<div class="container">
  <h1 class="page-header">
      사물함 신청 <small>locker application</small>
  </h1>
  <ol class="breadcrumb">
      <li class="active">
          사물함 이용에 대하여 문의사항이 있을 경우, <a href="#">이곳</a>에 문의해주세요.<br>
          사물함 이용책임자 : 응용화학과 학생회장 유혁준 01012345678
      </li>
  </ol>
  <h2>A사물함</h2>
  <div class="table-responsive">
  <table class="table">
      <% @number.each do |num| %>
        <tr>
          <% num.each do |n| %>
            <td>
              <%= form_tag box_index_path do %>
                <input class = "btn btn-default" type = "submit" name = "seatNumber" value = "A-<%= n %>">
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
        </table>
      </div>

  <h2>B사물함</h2>
  <div class="table-responsive">
    <table class="table">
      <% @number.each do |num| %>
        <tr>
          <% num.each do |n| %>
            <td>
              <%= form_tag box_index_path do %>
                <input class = "btn btn-default" type = "submit" name = "seatNumber" value = "B-<%= n %>">
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
      </div>

      <h2>C사물함</h2>
      <div class="table-responsive">
        <table class="table">
          <% @number.each do |num| %>
            <tr>
              <% num.each do |n| %>
                <td>
                  <%= form_tag box_index_path do %>
                    <input class = "btn btn-default" type = "submit" name = "seatNumber" value = "B-<%= n %>">
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </table>
          </div>
</div>
