<h1 class="page-header container">
    사물함 신청 <small>locker application</small>
</h1>
<ol class="breadcrumb container">
    <li class="active">
        사물함 이용에 대하여 문의사항이 있을 경우, <a href="#">이곳</a>에 문의해주세요.<br>
        사물함 이용책임자 : 응용화학과 학생회장 유혁준 01012345678
    </li>
</ol>
<div class = "container" style = "display:flex; flex-wrap:wrap; justify-content:space-around;">
  <div class="table-responsive">
    <h2>A사물함</h2>
    <table class="table">
      <% @number.each do |num| %>
        <tr>
          <% num.each do |n| %>
            <td>
              <%= form_tag box_index_path, id:"box" do %>
                <% if !!Cabinet.find_by(cabins:"A-#{n}") %>
                    <input id = "selected" class = "btn btn-default" type = "submit" name = "seatNumber" value = "A-<% if n <= 9 %>0<%= n %><% else %><%= n %><% end %>">
                <% else %>
                    <input class = "btn btn-default" type = "submit" name = "seatNumber" value = "A-<% if n <= 9 %>0<%= n %><% else %><%= n %><% end %>">
                <% end %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="table-responsive">
    <h2>B사물함</h2>
    <table class="table">
      <% @number_dif.each do |num| %>
        <tr>
          <% num.each do |n| %>
            <td>
              <%= form_tag box_index_path, id:"box" do %>
              <% if !!Cabinet.find_by(cabins:"B-#{n}") %>
                  <input id = "selected" class = "btn btn-default" type = "submit" name = "seatNumber" value = "B-<% if n <= 9 %>0<%= n %><% else %><%= n %><% end %>">
              <% else %>
                  <input class = "btn btn-default" type = "submit" name = "seatNumber" value = "B-<% if n <= 9 %>0<%= n %><% else %><%= n %><% end %>">
              <% end %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="table-responsive">
    <h2>C사물함</h2>
    <table class="table">
      <% @number.each do |num| %>
        <tr>
          <% num.each do |n| %>
            <td>
              <%= form_tag box_index_path, id:"box" do %>
              <% if !!Cabinet.find_by(cabins:"C-#{n}") %>
                  <input id = "selected" class = "btn btn-default" type = "submit" name = "seatNumber" value = "C-<% if n <= 9 %>0<%= n %><% else %><%= n %><% end %>">
              <% else %>
                  <input class = "btn btn-default" type = "submit" name = "seatNumber" value = "C-<% if n <= 9 %>0<%= n %><% else %><%= n %><% end %>">
              <% end %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="table-responsive">
    <h2>D사물함</h2>
    <table class="table">
      <% @number_dif.each do |num| %>
        <tr>
          <% num.each do |n| %>
            <td>
              <%= form_tag box_index_path, id:"box" do %>
              <% if !!Cabinet.find_by(cabins:"D-#{n}") %>
                  <input id = "selected" class = "btn btn-default" type = "submit" name = "seatNumber" value = "D-<% if n <= 9 %>0<%= n %><% else %><%= n %><% end %>">
              <% else %>
                  <input class = "btn btn-default" type = "submit" name = "seatNumber" value = "D-<% if n <= 9 %>0<%= n %><% else %><%= n %><% end %>">
              <% end %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
</div>
<div class = "container" style = "display:flex; flex-wrap:wrap; justify-content:space-around;">
  <div class="table-responsive">
    <h2>E사물함</h2>
    <table class="table">
      <% @number.each do |num| %>
        <tr>
          <% num.each do |n| %>
            <td>
              <%= form_tag box_index_path, id:"box" do %>
              <% if !!Cabinet.find_by(cabins:"E-#{n}") %>
                  <input id = "selected" class = "btn btn-default" type = "submit" name = "seatNumber" value = "E-<% if n <= 9 %>0<%= n %><% else %><%= n %><% end %>">
              <% else %>
                  <input class = "btn btn-default" type = "submit" name = "seatNumber" value = "E-<% if n <= 9 %>0<%= n %><% else %><%= n %><% end %>">
              <% end %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="table-responsive">
    <h2>F사물함</h2>
    <table class="table">
      <% @number_dif.each do |num| %>
        <tr>
          <% num.each do |n| %>
            <td>
              <%= form_tag box_index_path, id:"box" do %>
              <% if !!Cabinet.find_by(cabins:"F-#{n}") %>
                  <input id = "selected" class = "btn btn-default" type = "submit" name = "seatNumber" value = "F-<% if n <= 9 %>0<%= n %><% else %><%= n %><% end %>">
              <% else %>
                  <input class = "btn btn-default" type = "submit" name = "seatNumber" value = "F-<% if n <= 9 %>0<%= n %><% else %><%= n %><% end %>">
              <% end %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="table-responsive">
    <h2>G사물함</h2>
    <table class="table">
      <% @number.each do |num| %>
        <tr>
          <% num.each do |n| %>
            <td>
              <%= form_tag box_index_path, id:"box" do %>
              <% if !!Cabinet.find_by(cabins:"G-#{n}") %>
                  <input id = "selected" class = "btn btn-default" type = "submit" name = "seatNumber" value = "G-<% if n <= 9 %>0<%= n %><% else %><%= n %><% end %>">
              <% else %>
                  <input class = "btn btn-default" type = "submit" name = "seatNumber" value = "G-<% if n <= 9 %>0<%= n %><% else %><%= n %><% end %>">
              <% end %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="table-responsive">
    <h2>H사물함</h2>
    <table class="table">
      <% @number_dif.each do |num| %>
        <tr>
          <% num.each do |n| %>
            <td>
              <%= form_tag box_index_path, id:"box" do %>
              <% if !!Cabinet.find_by(cabins:"H-#{n}") %>
                  <input id = "selected" class = "btn btn-default" type = "submit" name = "seatNumber" value = "H-<% if n <= 9 %>0<%= n %><% else %><%= n %><% end %>">
              <% else %>
                  <input class = "btn btn-default" type = "submit" name = "seatNumber" value = "H-<% if n <= 9 %>0<%= n %><% else %><%= n %><% end %>">
              <% end %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
</div>
<div class = "container" style = "margin-bottom:100px; display:flex; flex-wrap:wrap; justify-content:space-between;">
  <div class="table-responsive">
    <h2>I사물함</h2>
    <table class="table">
      <% @number.each do |num| %>
        <tr>
          <% num.each do |n| %>
            <td>
              <%= form_tag box_index_path, id:"box" do %>
              <% if !!Cabinet.find_by(cabins:"I-#{n}") %>
                  <input id = "selected" class = "btn btn-default" type = "submit" name = "seatNumber" value = "I-<% if n <= 9 %>0<%= n %><% else %><%= n %><% end %>">
              <% else %>
                  <input class = "btn btn-default" type = "submit" name = "seatNumber" value = "I-<% if n <= 9 %>0<%= n %><% else %><%= n %><% end %>">
              <% end %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="table-responsive">
    <h2>J사물함</h2>
    <table class="table">
      <% @number_dif.each do |num| %>
        <tr>
          <% num.each do |n| %>
            <td>
              <%= form_tag box_index_path, id:"box" do %>
              <% if !!Cabinet.find_by(cabins:"J-#{n}") %>
                  <input id = "selected" class = "btn btn-default" type = "submit" name = "seatNumber" value = "J-<% if n <= 9 %>0<%= n %><% else %><%= n %><% end %>">
              <% else %>
                  <input class = "btn btn-default" type = "submit" name = "seatNumber" value = "J-<% if n <= 9 %>0<%= n %><% else %><%= n %><% end %>">
              <% end %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
</div><!--container닫힘태그 -->
