<h1 class="page-header container">
    사물함 신청 <small>locker application</small>
</h1>
<ol class="breadcrumb container">
    <li class="active">
        <br/>
        사물함 이용책임자 : 응용화학과 학생회장 유혁준 01012345678<br><br>

        사물함 사용 여부 : <br>
        <input class = "btn btn-default" type = "button" value = "신청가능">
        <input class = "btn btn-default" type = "button" value = "신청불가" style="background-color: gray;">
    </li>
</ol>
<div class = "container" style = "display:flex; flex-wrap:wrap; justify-content:space-around;">
  <div class="table-responsive">
    <h2>A사물함</h2>
    <table class="table">
      <% @number.each do |num| %>
        <tr>
          <% num.each do |n| %>
            <td>
              <%= form_tag box_index_path, id:"box" do %>
                <% if !!Cabinet.find_by(cabins:"A-#{n}") %>
                    <input id = "selected" class = "btn btn-default" type = "submit" name = "seatNumber" value = "A-<%= n %>">
                <% else %>
                    <input class = "btn btn-default" type = "submit" name = "seatNumber" value = "A-<%= n %>">
                <% end %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="table-responsive">
    <h2>B사물함</h2>
    <table class="table">
      <% @number_dif.each do |num| %>
        <tr>
          <% num.each do |n| %>
            <td>
              <%= form_tag box_index_path, id:"box" do %>
              <% if !!Cabinet.find_by(cabins:"B-#{n}") %>
                  <input id = "selected" class = "btn btn-default" type = "submit" name = "seatNumber" value = "B-<%= n %>">
              <% else %>
                  <input class = "btn btn-default" type = "submit" name = "seatNumber" value = "B-<%= n %>">
              <% end %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="table-responsive">
    <h2>C사물함</h2>
    <table class="table">
      <% @number.each do |num| %>
        <tr>
          <% num.each do |n| %>
            <td>
              <%= form_tag box_index_path, id:"box" do %>
              <% if !!Cabinet.find_by(cabins:"C-#{n}") %>
                  <input id = "selected" class = "btn btn-default" type = "submit" name = "seatNumber" value = "C-<%= n %>">
              <% else %>
                  <input class = "btn btn-default" type = "submit" name = "seatNumber" value = "C-<%= n %>">
              <% end %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="table-responsive">
    <h2>D사물함</h2>
    <table class="table">
      <% @number_dif.each do |num| %>
        <tr>
          <% num.each do |n| %>
            <td>
              <%= form_tag box_index_path, id:"box" do %>
              <% if !!Cabinet.find_by(cabins:"D-#{n}") %>
                  <input id = "selected" class = "btn btn-default" type = "submit" name = "seatNumber" value = "D-<%= n %>">
              <% else %>
                  <input class = "btn btn-default" type = "submit" name = "seatNumber" value = "D-<%= n %>">
              <% end %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
</div>
<div class = "container" style = "display:flex; flex-wrap:wrap; justify-content:space-around;">
  <div class="table-responsive">
    <h2>E사물함</h2>
    <table class="table">
      <% @number.each do |num| %>
        <tr>
          <% num.each do |n| %>
            <td>
              <%= form_tag box_index_path, id:"box" do %>
              <% if !!Cabinet.find_by(cabins:"E-#{n}") %>
                  <input id = "selected" class = "btn btn-default" type = "submit" name = "seatNumber" value = "E-<%= n %>">
              <% else %>
                  <input class = "btn btn-default" type = "submit" name = "seatNumber" value = "E-<%= n %>">
              <% end %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="table-responsive">
    <h2>F사물함</h2>
    <table class="table">
      <% @number_dif.each do |num| %>
        <tr>
          <% num.each do |n| %>
            <td>
              <%= form_tag box_index_path, id:"box" do %>
              <% if !!Cabinet.find_by(cabins:"F-#{n}") %>
                  <input id = "selected" class = "btn btn-default" type = "submit" name = "seatNumber" value = "F-<%= n %>">
              <% else %>
                  <input class = "btn btn-default" type = "submit" name = "seatNumber" value = "F-<%= n %>">
              <% end %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="table-responsive">
    <h2>G사물함</h2>
    <table class="table">
      <% @number.each do |num| %>
        <tr>
          <% num.each do |n| %>
            <td>
              <%= form_tag box_index_path, id:"box" do %>
              <% if !!Cabinet.find_by(cabins:"G-#{n}") %>
                  <input id = "selected" class = "btn btn-default" type = "submit" name = "seatNumber" value = "G-<%= n %>">
              <% else %>
                  <input class = "btn btn-default" type = "submit" name = "seatNumber" value = "G-<%= n %>">
              <% end %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="table-responsive">
    <h2>H사물함</h2>
    <table class="table">
      <% @number_dif.each do |num| %>
        <tr>
          <% num.each do |n| %>
            <td>
              <%= form_tag box_index_path, id:"box" do %>
              <% if !!Cabinet.find_by(cabins:"H-#{n}") %>
                  <input id = "selected" class = "btn btn-default" type = "submit" name = "seatNumber" value = "H-<%= n %>">
              <% else %>
                  <input class = "btn btn-default" type = "submit" name = "seatNumber" value = "H-<%= n %>">
              <% end %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
</div>
<div class = "container" style = "margin-bottom:100px; display:flex; flex-wrap:wrap; justify-content:space-between;">
  <div class="table-responsive">
    <h2>I사물함</h2>
    <table class="table">
      <% @number.each do |num| %>
        <tr>
          <% num.each do |n| %>
            <td>
              <%= form_tag box_index_path, id:"box" do %>
              <% if !!Cabinet.find_by(cabins:"I-#{n}") %>
                  <input id = "selected" class = "btn btn-default" type = "submit" name = "seatNumber" value = "I-<%= n %>">
              <% else %>
                  <input class = "btn btn-default" type = "submit" name = "seatNumber" value = "I-<%= n %>">
              <% end %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="table-responsive">
    <h2>J사물함</h2>
    <table class="table">
      <% @number_dif.each do |num| %>
        <tr>
          <% num.each do |n| %>
            <td>
              <%= form_tag box_index_path, id:"box" do %>
              <% if !!Cabinet.find_by(cabins:"J-#{n}") %>
                  <input id = "selected" class = "btn btn-default" type = "submit" name = "seatNumber" value = "J-<%= n %>">
              <% else %>
                  <input class = "btn btn-default" type = "submit" name = "seatNumber" value = "J-<%= n %>">
              <% end %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
</div><!--container닫힘태그 -->
