  <div class="container container-fluid">
    <!-- Page Heading -->
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">
              가입신청 확인<small>Subscription Status</small>
          </h1>

          <div class="container">
            <a href="/tempusers/index" type="button" class="btn btn-default"> 기본 양식 </a>
            <a href="/tempusers/indexE" type="button" class="btn btn-default"> 엑셀 양식 </a>
              <a href="https://docs.google.com/spreadsheets/u/0/" type="button" class="btn btn-default"> Google Sheets </a>
<div class="table-responsive">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th class="admin_index"><strong>번호</strong></th>
        <th class="admin_index"><strong>이름</strong></th>
        <th class="admin_index"><strong>학과</strong></th>
        <th class="admin_index"><strong>학번</strong></th>
        <th class="admin_index"><strong>권한</strong></th>
      </tr>
    </thead>
    <tbody>
      <% if !(user_major?.include? "응용물리학과") %>
        <% @tmp1.each do |a| %>
          <tr>
            <td>
              <%= a.id %>
            </td>
            <td>
              <%= a.name %>
            </td>
            <td>
              <%= a.major %>
            </td>
              <td>
                <%= a.stuN %>
              </td>
            <td>
              <% if a.identity == "1" %>
                학부생
              <% elsif a.identity == "2" %>
                대학원생
              <% elsif a.identity == "3" %>
                교수
              <% else %>
                관리자
              <% end %>
            </td>
          </tr>
        <% end %>
        <% @tmp2.each do |a| %>
          <tr>
            <td>
              <%= a.id %>
            </td>
            <td>
              <%= a.name %>
            </td>
            <td>
              <%= a.major %>
            </td>
              <td>
                <%= a.stuN %>
              </td>
            <td>
              <% if a.identity == "1" %>
                학부생
              <% elsif a.identity == "2" %>
                대학원생
              <% elsif a.identity == "3" %>
                교수
              <% else %>
                관리자
              <% end %>
            </td>
          </tr>
        <% end %>
      <% else %>
        <% @tempusers.each do |i| %>
          <tr>
            <td>
              <%= i.id %>
            </td>
            <td>
              <%= i.name %>
            </td>
            <td>
              <%= i.major %>
            </td>
              <td>
                <%= i.stuN %>
              </td>
            <td>
              <% if i.identity == "1" %>
                학부생
              <% elsif i.identity == "2" %>
                대학원생
              <% elsif i.identity == "3" %>
                교수
              <% else %>
                관리자
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
</div>
</div>
</div>
</div>
