  <div class="container container-fluid">
    <!-- Page Heading -->
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">
              가입신청 확인<small>Subscription Status</small>
          </h1>

          <div class="container">
            <a href="/tempusers/index" type="button" class="btn btn-default"> 기본 양식 </a>
            <a href="/tempusers/indexE" type="button" class="btn btn-default"> 엑셀 양식 </a>
            <a href="https://docs.google.com/spreadsheets/u/0/" type="button" class="btn btn-default"> Google Sheets </a>
<div class="table-responsive">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th class="admin_index"><strong>&nbsp&nbsp&nbspname&nbsp&nbsp&nbsp</strong></th>
        <th class="admin_index"><strong>&nbsp&nbsp&nbsp&nbsp&nbsp&nbspmajor&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</strong></th>
        <th class="admin_index"><strong>&nbsp&nbsp&nbsp&nbsp&nbsp&nbspstuN&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</strong></th>
        <th class="admin_index"><strong>&nbsp&nbsp&nbspidentity&nbsp&nbsp&nbsp</strong></th>
        <th class="admin_index"><strong>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsppassword&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</strong></th>
      </tr>
    </thead>
    <tbody>
      <% if !(current_user.major.include? "응용물리학과") %>
        <% @tmp1.each do |a| %>
          <tr>
            <td>
              <%= a.name %>
            </td>
            <td>
              <%= a.major %>
            </td>
            <td>
              <%= a.stuN %>
            </td>
            <td>
              1
            </td>
            <td>
              <%= a.stuN %>
            </td>
          </tr>
        <% end %>
        <% @tmp2.each do |a| %>
          <tr>
            <td>
              <%= a.name %>
            </td>
            <td>
              <%= a.major %>
            </td>
            <td>
              <%= a.stuN %>
            </td>
            <td>
              1
            </td>
            <td>
              <%= a.stuN %>
            </td>
          </tr>
        <% end %>
        <% @tmp3.each do |a| %>
          <tr>
            <td>
              <%= a.name %>
            </td>
            <td>
              <%= a.major %>
            </td>
            <td>
              <%= a.stuN %>
            </td>
            <td>
              1
            </td>
            <td>
              <%= a.stuN %>
            </td>
          </tr>
        <% end %>
      <% else %>
        <% @tempusers.each do |i| %>
          <tr>
            <td>
              <%= i.name %>
            </td>
            <td>
              <%= i.major %>
            </td>
              <td>
                <%= i.stuN %>
              </td>
            <td>
              <% if i.identity == "1" %>
                1
              <% elsif i.identity == "2" %>
                2
              <% elsif i.identity == "3" %>
                3
              <% else %>
                admin
              <% end %>
            </td>
            <td>
              <%= i.stuN %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
</div>
</div>
</div>
</div>
